{%extends 'base.html'%}



{%block content%}

{{user.user_name}}

{%if user.User_bio%}
    <p>{{user.User_bio}}</p>
{%else%}
    <p>{{user.user_name}} does not have a bio</p>
    
{%endif%}
    
{%if user.profile_pic%}
    <img src="{{user.profile_pic}}" alt=""> 

{%else%}

    <p>{{user.user_name}} does not have a profile picture</p>


{%endif%}

{%if user == current_user%}

    <form action="{{url_for('main.update_pic', uname = user.user_name)}} " method="post" enctype="multipart/form-data">
    
        <input type="file" name="photo" class="form-control" required>
        <input type="submit" >

    {%endif%}
    </form>

{%endblock%}