nav ul{
    list-style: none;
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-brand {
    color: white;
    padding: 1%;
    font-size: 36px;   
}

nav{
    align-items: center;
    background-color: #37323E;
    padding: 2%;
    margin-bottom: 10%;
}

ul li a{
    color: white;
}

body{
    color: #A37B73;
}