@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

body{
    font-family: 'Lobster Two', cursive;
}


nav ul{
    list-style: none;
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-brand {
    color: white;
    padding: 1%;
    font-size: 36px;   
}

nav{
    align-items: center;
    background-color: #37323E;
    padding: 2%;
  
}

ul li a{
    color: white;
}
