{%extends 'base.html'%}

{%block styles%}
{{ super() }}

<link rel="stylesheet" href="{{url_for('static',filename = 'index.css')}}">

{%endblock%}


{% block content %}

<div class="pitches">
    {%for pitch in pitches%}
    <div class="pitch card">
        <p class="categoryName" >category: {{pitch.category}}</p>

        <p>Posted on {{pitch.Posting}}</p>
        <p><strong>The pitch:</strong>{{pitch.Pitch}}</p>
        <a href="/reviews/{{pitch.pitch_id}}">View Reviews</a>
    </div>
    {%endfor%}
</div>
{%endblock%}