<nav>


  <a class="navbar-brand" href="/">Home</a>

  <ul>

    <li>
      <a class="nav-link" href="/add_Pitch">Add Pitch <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/reviews/4">Pitch Reviews</a>
    </li>

    {%if current_user.is_authenticated%}
    
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('auth.logout')}}">Log out</a>
    </li>
    
    {%else%}
    
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('auth.login')}}" >log in</a>
    </li>
    
    {%endif%}
 
  </ul>

</nav>

